@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <img src="~/img/10.png" class="img-fluid d-block mx-auto" alt="Imagen 1">
        </div>
        <div class="col-md-12 p-0">
            <img src="~/img/imgdos.png" class="img-fluid d-block mx-auto" alt="Imagen 2">
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/img/propietario.png" class="card-img-top" alt="Imagen de la tarjeta">
                <div class="card-body">
                    <h5 class="card-title">Propietarios</h5>
                    <p class="card-text">En esta sección podés acceder a todo el contenido relacionado a Propietarios.
                        Crear, Modificar y Eliminar los mismos.</p>
                    <a href="/Propietarios" class="btn btn-primary">Ir a la vista</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/img/inquilino.png" class="card-img-top" alt="Imagen de la tarjeta">
                <div class="card-body">
                    <h5 class="card-title">Inquilinos</h5>
                    <p class="card-text">En esta sección, tendrás acceso a toda la información relacionada con los inquilinos, con la capacidad de crear, modificar y eliminar sus registros.</p>
                    <a href="/Inquilinos" class="btn btn-primary">Ir a la vista</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/img/inmueble.png" class="card-img-top" alt="Imagen de la tarjeta">
                <div class="card-body">
                    <h5 class="card-title">Inmuebles</h5>
                    <p class="card-text">En este espacio, tendrás acceso completo al contenido vinculado a propiedades
                        inmobiliarias, incluyendo la posibilidad de agregar, editar y eliminar dichas propiedades.</p>
                    <a href="/Inmuebles" class="btn btn-primary">Ir a la vista</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/img/contrato.png" class="card-img-top" alt="Imagen de la tarjeta">
                <div class="card-body">
                    <h5 class="card-title">Contratos</h5>
                    <p class="card-text">En esta categoría, podés acceder a todo el contenido de contratos. Crear, editar y eliminar los mismos.</p>
                    <a href="/Contratos" class="btn btn-primary">Ir a la vista</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/img/pago.png" class="card-img-top" alt="Imagen de la tarjeta">
                <div class="card-body">
                    <h5 class="card-title">Pagos</h5>
                    <p class="card-text">Ya se pueden registrar pagos directamente desde la sección de contratos.
                    </p>
                    <a href="/Contratos" class="btn btn-primary">Ir a la vista</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/img/login.png" class="card-img-top" alt="Imagen de la tarjeta">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text"> Los administradores de la página ya pueden crear, editar y eliminar usuarios.
                    </p>
                    @if(User.IsInRole("Administrador")){<a href="/Usuarios" class="btn btn-primary">Ir a la vista</a>}
                </div>
            </div>
        </div>
    </div>
</div>
