@model IEnumerable<Propietario>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Propietarios</h1>

    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Nombre @item.Apellido</li>
        }
    </ul>
</div>
